<div class="hero-unit">
  Holla, papi.
  <dl>
    <dt>site.title</dt>
    <dd data-bind="text: site.title"></dd>
    <dt>user.firstname</dt>
    <dd data-bind="text: user.firstname"></dd>
    <dt>user.lastname</dt>
    <dd data-bind="text: user.lastname"></dd>
    <dt>user.formattedname</dt>
    <dd data-bind="text: user.formattedname"></dd>
    <dt>user.profileimage</dt>
    <dd data-bind="text: user.profileimage"></dd>
    <dt>user.profileurl</dt>
    <dd data-bind="text: user.profileurl"></dd>
  </dl>
</div>