<div class="hero-unit">
  stufffffssssss
  Sync data from LinkedIn
  <div>
    <div>
      <h3>Column 1</h3>
      <a class="btn btn-large btn-block btn-primary" href="#">Sync from LinkedIn</a>
    </div>
    <div>
      <h3>Column 2</h3>
      <dl>
        <dt>site.title</dt>
        <dd data-bind="text: site.title"></dd>
        <dt>user.firstname</dt>
        <dd data-bind="text: user.firstname"></dd>
        <dt>user.lastname</dt>
        <dd data-bind="text: user.lastname"></dd>
        <dt>page1.title</dt>
        <dd data-bind="text: page1.title"></dd>
        <dt>page1.description</dt>
        <dd data-bind="text: page1.description"></dd>
      </dl>
    </div>
  </div>
</div>