      {{> footer}}
    </div>
    <script>
      window.TMCD_IS_LINKEDIN_LOADED = false;
      window.tmcdConfirmLinkedInLoaded = function() {
        TMCD_IS_LINKEDIN_LOADED = true;
      }
    </script>
    <script type="text/javascript" src="http://platform.linkedin.com/in.js">
      api_key: 0m2ewzmu2sn7
      onLoad: tmcdConfirmLinkedInLoaded
      authorize: true
    </script>
    <script>
      console.log(IN);
    </script>
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      // var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      // (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      // g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      // s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    <script data-main="scripts/main" src="js/lib/require.js"></script>
  </body>
</html>